<!DOCTYPE html>
<html id="home" lang="en">

    <head>
        <script>
            // if(!location.hash.replace('#', '').length) {
            //     location.href = location.href.split('#')[0] + '#' + (Math.random() * 100).toString().replace('.', '');
            //     location.reload();
            // }
        </script>

        <title>화상회의 테스트</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://www.webrtc-experiment.com/style.css"> -->
        <link href="/style.css" rel="stylesheet" />
        
        <!-- <script>
            document.createElement('article');
            document.createElement('footer');
        </script> -->
    </head>

    <body>
        <article>
            <div class="slider visible">
                <h1 style="color:white">WebRTC 화상회의 <br>
                    <%=userInfo.job%> <%=userInfo.name%>님 환영합니다</h1>
                <h2 style="color:white;">미팅 룸 목록</h2>
                <p></p>
                <p style="display:none"><%=userInfo.name%></p>
                <div class="slides">
                    <h1 id="no_class" style="color:white">진행중인 강의가 없습니다</h1>
                </div>
                <br><br>
            </div>
            <table style="display:none" id="rooms-list" class="visible" style="color:white;"></table>
            <div class=non-visual><!--invisiable in homepage-->
                    <div class="wrapper"><!--grid UI-->
                        <div class=content><!--remote video-->
                            <div class="left_nav">
                                <button id="exit" class="basicBtns"><i class="fas fa-sign-out-alt"></i></button><!--exit peer connection func bnt-->
                                <button id="fullscreen" class="basicBtns" onclick="toggleFullScreen()"><i class="fas fa-expand"></i></i></button><!--full screen func bnt-->
                            </div>


                            <div class="navbar">
                                <button id="record" class="basicBtns"><i class="fas fa-record-vinyl"></i></button> <!--녹화 시작/정지-->
                                <button id="download" class="basicBtns" disabled><i class="fas fa-download fa-lg"></i></button> <!--다운로드-->
                                <button class="basicBtns" id="micBtn" onclick="micOnOff(this)"><i class="fas fa-microphone fa-lg" id="micIcon"></i></button> <!--마이크온오프-->
                                <button class="basicBtns" id="cameraBtn" onclick="cameraOnOff(this)"><i class="fas fa-video fa-lg" id="cameraIcon"></i></button> <!--카메라온오프-->
                                <button class="basicBtns" onclick="showWhiteBoard()"><i class="fas fa-palette fa-lg"></i></button> <!--화이트보드-->
                                <button id="screenshare" class="basicBtns"><i class="fas fa-desktop"></i></button>
                                <button class="basicBtns" onclick="leaving()"><i class="fas fa-sign-out-alt" id="leaveIcon"></i></button>
                            </div>

                            <div class="alert_area"></div>

                            <div class=videos id="participants"></div>
                        </div>
                        <div id="whiteBoard">
                            <input type="button" id="exitCanvas" class="canvasUI" value="x" onclick="hideWhiteBoard()" />
                            <canvas id="canvas" class="canvasUI"></canvas>
                            <div id="canvasBtns" class="canvasUI">
                            <input
                                type="range"
                                name=""
                                id="jsRange"
                                min="0.1"
                                max="10.0"
                                value="5.0"
                                step="0.1"
                            />
                            <button id="jsMode" class="canvasBtns">Paint</button>
                            <button id="jsErase" class="canvasBtns">Erase</button>
                            <button id="redpen" class="canvasBtns">Redpen</button>
                            <button id="reset" class="canvasBtns">Reset</button>
                            </div>
                        </div>
                        <div id=localvideo></div>
                        <div id=chat>chatting area</div>

                    </div>
                </div>
            <div id="testConcentration">
                <p id="testCon_title">집중도 테스트</p>
                <p id="timer"></p>
                <p id="randomNumber"></p>
                <input type="number" id="input_randomNumber" min="1" max="9" maxlength="1" oninput="maxLengthCheck(this)"/>
                <button type="button" onclick="submit_concentration()">제출</button>
                <p id="guideWord">위 숫자를 입력해주세요.</p>
            </div>
            <div id="leaving_cancle">
                <p id="leaving_name"><%=userInfo.name%></p>
                <p id="leaving_time"></p>
                <button type="button" id="leaving_btn" onclick="leaving_cancle()">복귀하기</button>
            </div>
            
            <!--<button id="open_Concentration" onclick="testConcentration()">집중도테스트버튼</button>-->
            
            <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
            <script src="https://www.webrtc-experiment.com/socket.io.js"> </script>
            <script src="https://www.webrtc-experiment.com/RTCPeerConnection-v1.5.js"> </script>
            <!-- <script src="https://www.webrtc-experiment.com/broadcast/broadcast.js"> </script> -->
            <!-- <script src="https://www.webrtc-experiment.com/broadcast/broadcast-ui.js"> </script> -->
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
            <script src="broadcast.js"></script>
            <script src="broadcast-ui.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
        </article>      
    
        <!-- commits.js is useless for you! -->
        <script src="https://www.webrtc-experiment.com/commits.js" async> </script>
    </body>
</html>