body{
  background: #181818;
  font-family:"Nanum Gothic",sans-serif;
}

audio, video {
margin-top: 10px;
margin : auto;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;

-o-transition: all 1s ease;
-webkit-transition: all 1s ease;
transition: all 1s ease;
width: 100%;
}

input {
border: 1px solid #d9d9d9;
border-radius: 1px;
font-size: 20px;
margin: .2em;
width: 70%;
}

.setup {
border-bottom-left-radius: 0;
border-top-left-radius: 0;
font-size: 102%;
height: 47px;
margin-left: -9px;
margin-top: 8px;
position: absolute;
}

p { padding: 1em; }

li {
border-bottom: 1px solid rgb(189, 189, 189);
border-left: 1px solid rgb(189, 189, 189);
padding: .5em;
}

#start-conferencing{
  background-color: aliceblue;
  font-size: 15px;
  border-radius: 5px;
  text-align: center;
}

.non-visual{ display: none; }

 .wrapper {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: 270px 300px 300px;
    grid-gap: 7px;
    grid-auto-rows: minmax(10px, auto);
  }
    .content{
      grid-column: 1 / 3;
      grid-row: 1 / 4 ;
    }
    #localvideo{
      grid-column: 3;
      grid-row: 1;
      align-self:stretch;
      justify-self: stretch;
    }
    #chat{
      grid-column: 3;
      grid-row: 2 / 4 ;
      background: aliceblue;
      text-align: center;
      justify-items: center;
      font-size: 20pt;
    }

    .videos{
      display: grid;
      grid-gap: 5px;
      background-color: black;
      /* grid-auto-rows: var(--rowHeight);
      grid-auto-columns: minmax(var(--colWidth)); */
      grid-auto-flow: row;
      /*grid-template-columns: repeat(auto-fit, minmax(var(--colWidth), 1fr));*/
      grid-template-columns: repeat(var(--col_num), var(--colWidth));
      grid-template-rows: repeat(var(--row_num), var(--rowHeight));
      /* grid-auto-columns: repeat(auto-fit, minmax(var(--colWidth), 1fr));
      grid-auto-rows: repeat(auto-fit, minmax(var(--rowHeight),1fr)); */
    }
      
      #peer-video{
        position: relative;
        overflow: hidden;
        max-height: var(--rowHeight);
        max-width: var(--colWidth);
      }

      

    #local-video{
      width: 400px;
      height: 300px;
    }

bt.video_btn{
  vertical-align: center;
  border-radius: 7px;
  z-index: 100;
  font-size:15px;
  margin-left: 5px;
  cursor : pointer;
  background-color: white;
  display: inline-block;
  color : black;
  position: relative;
  }
    
.basicBtns{
  background-color: #121212;
  border: none;
  width: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px 4px;
  cursor: pointer;
  color: white;
}

.navbar {
width: 550px;
left:50%; 
margin-top: -40px;
margin-left : -275px;
overflow: hidden;
background-color: #121212;
z-index: 1100;
position: relative;
opacity: 0.9;
border-radius: 7px;
text-align: center;
}

.left_nav { 
width: fit-content;
margin-top : 10px;
margin-left : 10px;
overflow: hidden;
background-color: #121212;
z-index: 1100;
position: relative;
opacity: 0.9;
border-radius: 7px;
text-align: center;
}

/*여기부터 화이트보드*/
#canvas {
background-color: white;
border-radius: 15px;
box-shadow: 3px 3px 2px grey;
}

#exitCanvas {
z-index: 1001;
font-size: 22px;
width: 30px;
height: 30px;
}

.canvasUI {
position: absolute;
top: 10px;
z-index: 1000;
}

#canvasBtns {
margin-top: 720px;
margin-left: auto;
margin-right: auto;
}

#jsRange {
margin-left: 300px;
}

.boardButton {
margin-top: 30px;
margin-bottom: 30px;
}

#whiteBoard {
display: none;
}
/*여기까지 화이트보드*/